<div>
    <br><h1 style="text-align: center; font-weight: bold;"> Editar personas</h1>
</div>
<div style="display: flex; margin: 2%">
    <mat-card style="margin: 1%;">
        <mat-card-header>
            <mat-card-title> Jorge</mat-card-title>
            <mat-card-subtitle>Persona Registrada</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Persona natural.</p>
            <p>{{longText}}</p>
            <mat-icon> edit</mat-icon>
        </mat-card-content>
    </mat-card>
    
    <mat-card style="margin: 1%;">
        <mat-card-header>
            <mat-card-title> Andres</mat-card-title>
            <mat-card-subtitle>Persona Registrada</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Persona natural.</p>
            <p>{{longText}}</p>
            <mat-icon> edit</mat-icon>
        </mat-card-content>
    </mat-card>
    
    <mat-card style="margin: 1%;">
        <mat-card-header>
            <mat-card-title> Ester</mat-card-title>
            <mat-card-subtitle>Persona Registrada</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Persona natural.</p>
            <p>{{longText}}</p>
            <mat-icon> edit</mat-icon>
        </mat-card-content>
    </mat-card>
</div>
<div style="display: flex; margin: 2%">
    <mat-card style="margin: 1%;">
        <mat-card-header>
            <mat-card-title> Maria</mat-card-title>
            <mat-card-subtitle>Persona Registrada</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Persona natural.</p>
            <p>{{longText}}</p>
            <mat-icon> edit</mat-icon>
        </mat-card-content>
    </mat-card>
    
    <mat-card style="margin: 1%;">
        <mat-card-header>
            <mat-card-title> Jose</mat-card-title>
            <mat-card-subtitle>Persona Registrada</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Persona natural.</p>
            <p>{{longText}}</p>
            <mat-icon> edit</mat-icon>
        </mat-card-content>
    </mat-card>
    
    <mat-card style="margin: 1%;">
        <mat-card-header>
            <mat-card-title> Carlos</mat-card-title>
            <mat-card-subtitle>Persona Registrada</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Persona natural.</p>
            <p>{{longText}}</p>
            <mat-icon> edit</mat-icon>
        </mat-card-content>
    </mat-card>
</div>