<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <a class="navbar-brand" routerLink="/listar/" href="#"> Inicio</a>
    <a class="navbar-brand" routerLink="/regis/" href="#"> Registrar personas</a>
    <a class="navbar-brand" routerLink="/listar/" href="#"> Lista de personas</a>
    <a class="navbar-brand" routerLink="/editar/" href="#"> Editar personas</a>
    <a class="navbar-brand" routerLink="/eliminar/" href="#"> Eliminar personas</a>
  </div>
</nav>