
div{
    margin: 1% 15%;
    align-items: center;
}

mat-form-field{
    text-align: center;
    margin-left: 7%;
    margin-right: 2%;
}
button{
    margin: 1%;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding: 1%;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e0e0e0;
}
button:focus{
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.12);
}